body {
  margin-top: 20px;

}

.company {
  padding-top: 5px;
  padding-bottom: 20px;
  text-align: center;
  color: #0d6efd;
}

.name {
  color: #25316D;
}

.my-invoice {
  padding: 0;

}

.invoice {
  position: relative;
  background-color: #F2F2F2;
  min-height: 680px;
  padding: 15px
}

.invoice header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #0d6efd;
}
/* ----------------------------- */
.title{
  padding: 10px 0 50px 30px;
  color: #0F3460;
}
.address{
  margin-left: 30px;
  width: 50%;
}
.phone{
  padding: 10px 0 90px;
  display: flex;
  margin-left: 30px;
  width: 50%;
}
/* ----------------------------- */
.invoice .company-details {
  text-align: right
}

.invoice .company-details .name {
  margin-top: 0;
  margin-bottom: 0
}

.invoice .contacts {
  margin-bottom: 20px
}

.invoice .invoice-to {
  text-align: left
}

.invoice .invoice-to .to {
  margin-top: 0;
  margin-bottom: 0
}
/* ------------------------------------------------ */
.workorder-details {
  text-align: right;
  padding: 30px 40px 10px;

}
.workorder{
  color: #87A2FB;
  padding-bottom: 20px;
}

.date{
  float: right;
  display: flex;

}
.datedetail{
  width: 65%;
}

/* ------------------------------------------ */
.invoice .invoice-details .invoice-id {
  margin-top: 0;
  color: #0d6efd
}

.invoice main {
  padding-bottom: 50px
}

.invoice main .thanks {
  font-size: 2em;
  text-align: center;
  padding: 20px;
}

.invoice main .notices {
  padding-left: 6px;
  text-align: center;
  background: #e7f2ff;
  padding: 10px;
}

.invoice main .notices .notice {
  font-size: 1.2em
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.invoice footer {
  width: 100%;
  text-align: center;
  color: #777;
  border-top: 1px solid #aaa;
  padding: 8px 0
}

@media print {
  .invoice {
    font-size: 11px !important;
    overflow: hidden !important
  }

  .invoice footer {
    position: absolute;
    bottom: 10px;
    page-break-after: always
  }

  .invoice>div:last-child {
    page-break-before: always
  }
}

.total {
  text-align: right;
  background: 0 0;
  font-size: 1.2em;
}

.div {
  width: 40%;
  padding: 20px;
}

.com_date {
  width: 20%;
  margin-left: auto;
  margin-right: 10px;
  padding: 10px;

}
.today {
  width: 20%;
  margin-left: auto;
  margin-right: 8px;
  padding: 10px;
}


.center {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
